{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About CookATour</h1>
</div>
<p class="lead">This is a project thought of by Julia Smith and Sriniketh Vijayaraghavan. The primary prototype demonstrated here is written and coded by Sriniketh in Python.</p>
<p>I used Flask to interface the prgram with the web. The product makes use of Google Maps API, specifically Gogle Directions API to route people to where they need to go.</p>
<p>It also makes use of the Factual API to get the locations, informations and category of places to make better trips.</p>
<p>This is just the prototype so a lot more functionality will be added to the site later. Until then, enjoy our latest Cooks!</p>

{% endblock %}
